<template>
    <div>
        <h2>Homee page</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde delectus, amet eligendi error illo pariatur ratione voluptatem officiis eum aperiam laudantium quas ad? Tempora ullam, ad provident facere modi aperiam!</p>
        <router-link to="/todos">Todos</router-link>
    </div>
</template>